version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: food
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    build: ../
    volumes:
      - ..:/app
    env_file:
      - ../.env
    ports:
      - '11204:11204'
    depends_on:
      - db

volumes:
  pgdata:
